{% extends 'base.html' %}
{% block content %}
<h2>Change Password</h2>
<form method="POST">
    <input type="password" name="current_password" placeholder="Current Password" class="form-control mb-2" required>
    <input type="password" name="new_password" placeholder="New Password" class="form-control mb-2" required>
    <input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control mb-2" required>
    <button id="updp" type="submit" class="btn btn-warning">Update Password</button>
</form>
{% endblock %}